# Dimensionality reduction with PCA, t-sne & vae

Let us practice and compare PCA, t-sne & vae dimensionality reduction methods

Dataset: https://www.kaggle.com/jessemostipak/hotel-booking-demand

### Import packages

In [1]:
import pandas as pd

# import data visualization package
import altair as alt

### Read data

In [2]:
df = pd.read_csv("hotel_bookings.csv")

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

* *reservation_status_date* has an object data type. Let us convert it to datetime format and create attributes from that
* *arrival_date_month* has an object data types. Let's change it to numeric value

In [5]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

Let's check column with null values

In [6]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

*country*, *agent*, *compnay*, *children* columns have null values. Let us have a look at the content of the columns

In [7]:
df['company'].value_counts()

40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
229.0      1
213.0      1
416.0      1
320.0      1
461.0      1
Name: company, Length: 352, dtype: int64

In [8]:
df['agent'].value_counts()

9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
213.0        1
433.0        1
197.0        1
367.0        1
337.0        1
Name: agent, Length: 333, dtype: int64

In [9]:
df['country'].value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
HND        1
FJI        1
MMR        1
CYM        1
Name: country, Length: 177, dtype: int64

In [10]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

In [11]:
df['children'].isnull().sum()

4

Let us check duplicates in the dataset

In [12]:
df[df.duplicated(keep=False)]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04

In [13]:
df.duplicated().sum()

31994

In [14]:
print("Percentage of duplicated records: ", df.duplicated().sum()*100 / df.shape[0])

Percentage of duplicated records:  26.797889270458164

We got 26.7% of duplicated rows in the dataset. This can be because we do not have any invoice numbers to verify whether the data is duplicated or not. For now, let us just drop duplicated rows.

In [15]:
df['is_canceled'].value_counts(normalize=True)

0    0.629584
1    0.370416
Name: is_canceled, dtype: float64

We have about 37% of canceled records in the dataset.

### Data cleaning and transformation

Let us prepare our dataset for dimensionality reduction by:
1. Replacing None values with a string *None* in ctagorical attributes such as *country*, *agent*, *company*
2. Drop 4 rows with null values for *children* column
3. Dropping duplicated records
4. Change data type to datetime for *reservation_status_date* and create numerical attributes from that
5. Replace strings to numbers in *arrival_date_month* column
6. Applying one-hot encoding to all categorical variables

Thus, we will get a dataset containing numberical data without any duplicates.

#### 1. Dealing with null values

In [16]:
# Fill in null records with 'none' for categorical variables
df['company'].fillna('none', inplace=True)
df['country'].fillna('none', inplace=True)
df['agent'].fillna('none', inplace=True)

In [17]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [18]:
# Drop rows with null children column
df = df[df['children'].notna()]

In [20]:
# Check null values
df.isnull().sum().sum()

0

#### 2. Dealing with duplicates

In [21]:
# Drop duplicates
df.drop_duplicates(keep='first', inplace=True)

In [22]:
df.shape

(87392, 32)

In [23]:
# Check duplicates
df.duplicated().sum()

0

#### 3. *reservation_status_date* column

In [28]:
# converting the string to datetime format
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'], format='%Y-%m-%d')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87392 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87392 non-null  object
 1   is_canceled                     87392 non-null  int64
 2   lead_time                       87392 non-null  int64
 3   arrival_date_year               87392 non-null  int64
 4   arrival_date_month              87392 non-null  object
 5   arrival_date_week_number        87392 non-null  int64
 6   arrival_date_day_of_month       87392 non-null  int64
 7   stays_in_weekend_nights         87392 non-null  int64
 8   stays_in_week_nights            87392 non-null  int64
 9   adults                          87392 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87392 non-null  int64
 12  meal                            87392 non-null  object
 13  country                         87392 non-null  object
 14  market_segment                  87392 non-null  object
 15  distribution_channel            87392 non-null  object
 16  is_repeated_guest               87392 non-null  int64
 17  previous_cancellations          87392 non-null  int64
 18  previous_bookings_not_canceled  87392 non-null  int64
 19  reserved_room_type              87392 non-null  object
 20  assigned_room_type              87392 non-null  object
 21  booking_changes                 87392 non-null  int64
 22  deposit_type                    87392 non-null  object
 23  agent                           87392 non-null  object
 24  company                         87392 non-null  object
 25  days_in_waiting_list            87392 non-null  int64
 26  customer_type                   87392 non-null  object
 27  adr                             87392 non-null  float64
 28  required_car_parking_spaces     87392 non-null  int64
 29  total_of_special_requests       87392 non-null  int64
 30  reservation_status              87392 non-null  object
 31  reservation_status_date         87392 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(16), object(13)
memory usage: 22.0+ MB

In [31]:
df['reservation_status_date'].head()

0   2015-07-01
1   2015-07-01
2   2015-07-02
3   2015-07-02
4   2015-07-03
Name: reservation_status_date, dtype: datetime64[ns]

In [33]:
# Engineering new columns based on *reservation_status_date* column
df['reservation_status_year'] = pd.DatetimeIndex(df['reservation_status_date']).year
df['reservation_status_month'] = pd.DatetimeIndex(df['reservation_status_date']).month
df['reservation_status_day'] = pd.DatetimeIndex(df['reservation_status_date']).day

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87392 entries, 0 to 119389
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87392 non-null  object
 1   is_canceled                     87392 non-null  int64
 2   lead_time                       87392 non-null  int64
 3   arrival_date_year               87392 non-null  int64
 4   arrival_date_month              87392 non-null  object
 5   arrival_date_week_number        87392 non-null  int64
 6   arrival_date_day_of_month       87392 non-null  int64
 7   stays_in_weekend_nights         87392 non-null  int64
 8   stays_in_week_nights            87392 non-null  int64
 9   adults                          87392 non-null  int64
 10  children                        87392 non-null  float64
 11  babies                          87392 non-null  int64
 12  meal                            87392 non-null  object
 13  country                         87392 non-null  object
 14  market_segment                  87392 non-null  object
 15  distribution_channel            87392 non-null  object
 16  is_repeated_guest               87392 non-null  int64
 17  previous_cancellations          87392 non-null  int64
 18  previous_bookings_not_canceled  87392 non-null  int64
 19  reserved_room_type              87392 non-null  object
 20  assigned_room_type              87392 non-null  object
 21  booking_changes                 87392 non-null  int64
 22  deposit_type                    87392 non-null  object
 23  agent                           87392 non-null  object
 24  company                         87392 non-null  object
 25  days_in_waiting_list            87392 non-null  int64
 26  customer_type                   87392 non-null  object
 27  adr                             87392 non-null  float64
 28  required_car_parking_spaces     87392 non-null  int64
 29  total_of_special_requests       87392 non-null  int64
 30  reservation_status              87392 non-null  object
 31  reservation_status_date         87392 non-null  datetime64[ns]
 32  reservation_status_year         87392 non-null  int64
 33  reservation_status_month        87392 non-null  int64
 34  reservation_status_day          87392 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(19), object(13)
memory usage: 24.0+ MB

In [35]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,reservation_status_year,reservation_status_month,reservation_status_day
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015,7,1
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015,7,1
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015,7,2
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015,7,2
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015,7,3

In [37]:
# Let us drop 'reservation_status_dat''column
df.drop(columns=['reservation_status_date'], inplace=True)

In [39]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_year,reservation_status_month,reservation_status_day
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,none,0,Transient,0.0,0,0,Check-Out,2015,7,1
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,none,0,Transient,0.0,0,0,Check-Out,2015,7,1

#### 4. Change to numerical format strings in *arrival_date_month* column

In [40]:
df['arrival_date_month'].value_counts()

August       11253
July         10057
May           8355
April         7908
June          7765
March         7513
October       6934
September     6690
February      6098
December      5131
November      4995
January       4693
Name: arrival_date_month, dtype: int64

In [41]:
df.replace({'arrival_date_month' : { 'January' : 1, 'February' : 2, 'March' : 3, 'April': 4, 
                                     'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9,
                                     'October': 10, 'November': 11, 'December': 12}}, inplace=True)

In [42]:
df['arrival_date_month'].value_counts()

8     11253
7     10057
5      8355
4      7908
6      7765
3      7513
10     6934
9      6690
2      6098
12     5131
11     4995
1      4693
Name: arrival_date_month, dtype: int64

Looks great now! Depending on a goal of an analysis, we cound use this column for one-hot encoding. For the sake of simplicity, I changed to numerical values the records.

#### 5. One-hot encoding

In [46]:
# Columns with object data type, which will be used for one-hot encoding
cat_cols = df.select_dtypes('object').columns.tolist()
cat_cols

['hotel',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'agent',
 'company',
 'customer_type',
 'reservation_status']